.colorContainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 1.5rem;
    min-width: 4.5rem;
    padding-top: 2px;
    text-align: center;
    transition: font-weight 0.1s;
    font-weight: normal;
}

.colorContainer:hover {
    font-weight: bold;
    transition: font-weight 0.1s;
}

input {
position: fixed;
opacity: 0;
pointer-events: none;
}

